<h1>Is it Indian Company?</h1>
<br/><br/>
<div class='form-group' style="width:100%">
  <select class='form-group select2' style="width:100%" data-url='/company_provider' placeholder="Search Companies">
  </select>
  <br/><br/>
</div>

<h2>
  Made with <i class="fa fa-heart" style="font-size:30px;color:red"></i> in India
</h2>

<br/><br/><br/>
<h4>
  Start using Indian products. Ban all chines and foreign products.
</h4>

<h3>"आत्मनिर्भर भारत"</h3>
