<center/>
<div class="home-page">
  <h1>Is it Indian Company?</h1>
  <div class='form-group'>
    <select class='form-group select2' data-url='/company_provider' placeholder="Search Companies">
    </select>
    <br/><br/>
  </div>

  <h2 class="love-tag">
    Made with <i class="fa fa-heart" style="font-size:30px;color:red"></i> in India
  </h2>

  <br/><br/>

  <h4>
    Start using Indian products. Ban all chines and foreign products.
  </h4>

  <br/>
  <h1>"आत्मनिर्भर भारत!!"</h1>

  <br/><br/>

  <div>

    <div>
      <%= button_to "All Indian Companies", companies_url, method: :get, class: 'btn btn-outline-success' %>
    </div>
    <div>
      <%= button_to "Suggest Indian Company", new_company_url, method: :get, class: 'btn btn-outline-success' %>
    </div>


