<center/>
<br/><br/><br/>

<h3>Sorry!!, We are continuously updating our database.</h3>
<h3>Please help our nation to become self reliable by adding Indian company.</h3>

<br/><br/>

<div>
  <%= button_to "Please search again", root_url, method: :get, class: 'btn btn-outline-danger' %>
</div>

<br/>

<div>
  <%= button_to "All Indian Companies", companies_url, method: :get, class: 'btn btn-outline-success' %>
</div>

<br/>

<div>
  <%= button_to "Suggest Indian Company", new_company_url, method: :get, class: 'btn btn-outline-success' %>
</div>
