/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap

 */
body {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}

.home-page {
  margin-top: 10px;
}

nav {
  color:inherit;
  background-color: cadetblue;
}

header{
  background-color: cadetblue;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100px;
}

.love-tag {
  color: red;
}

hr {
  display: block;
  margin-top: 0.0em;
  margin-bottom: 0.0em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
}

.social-share-button .ssb-icon {
  width: 50px;
}

.footer {
  position: fixed;
  height: 92px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footer .cart-body {
  margin-top: 0px;
}

@media (min-width: 1000px){
  .tbody {
    align-items: center;

  }
  .container{
    width: 100%;
  }

  .mainbox{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid rgba(0,0,0,.3);
  }

  .box1 {
    display: flex;
    direction: row;
    width: 100%;

  }
  .box1-1{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }
  .box1-2{
    display: flex;
    flex-direction: column;
    min-height: 10em;
    justify-content: center;
    vertical-align: middle;
  }
}
.voteValues{
    display: flex;
    text-align: center;
    justify-content: center;
    -webkit-align-items: center;
}
.voteButton{
    display: flex;
    -webkit-align-items: stretch;
}

.rank{
    flex:1;
}

.image{
    flex: 2;
    padding: 0.2em;
    border-radius: 30% 30% 30% 30%;

}
.image img{
    padding: 0.2em;
    width: 30vh;
    height: 50vh;
    border-radius: 30% 30% 30% 30%;
    height: auto;
}
.upValue{
    margin: 5px;
    margin-right: 28px;
}
.downValue{
    padding: 5px;
    margin-left: 20px;
}

@media (max-width: 999px){
  .container{
    width: 100%;
  }

  .mainbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid rgba(0,0,0,.3);
  }

  .image{
    padding: 0.2em;
    border-radius: 30% 30% 30% 30%;
    width: 100%;
    text-align: center;
  }

  .image img{
    padding: 0.2em;
    max-width: 70%;
    border-radius: 30% 30% 30% 30%;
    height: auto;
  }

  .box1 {
    display: flex;
    direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .box1-1{
    display: flex;
    flex: 1
  }
  .box1-2{
    display: flex;
    flex-direction: column;
    min-height: 10em;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    flex: 2;
  }

  .select2 {
    width:90%!important;
  }

  .is-indian {
    font-size: 1.2em;
  }

}




