<div class="footer">
  <div class="card text-white bg-secondary">
    <div class="card-header"><%= social_share_button_tag %></div>
    <h6 small>
     © 2020 Copyright:
    <a href="https://techsoro.com/">techsoro.com</a>
  </h6 small>
  </div>
</div>
