<div class="footer">
  <div class="card text-white bg-secondary">
    <div class="card-header"><%= social_share_button_tag %></div>
    <div class="card-body">
     © 2020 Copyright:
    <a href="https://techsoro.com/"><strong>techsoro.com<strong/></a>
  </div>
  </div>
</div>
